@model WEB.Models.ListPlaceUrlTrackModels
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<div id="map"></div>
<div class="ButtonPanel">
    <div class="btn-group btn-group-justified">
        <a id="CreatePlace" class="btn btn-primary">Создать точку</a>
        <a id="CreateTrack" class="btn btn-primary" data-toggle="modal"
           data-target="#basicModal">Создать маршрут</a>
    </div> 
</div>
<script>

    var markers = [];
    var marker;
    var map;
    var latlng;
    var latlngStr;
    function pinSymbol(color) {
        return {
            path:
                'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
            fillColor: color,
            fillOpacity: 1,
            strokeColor: '#000',
            strokeWeight: 2,
            scale: 1,
        };
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
            {
                zoom: 6,
                center: { lat: 41.85, lng: -87.65 }
            });
        var ctaLayer = new google.maps.KmlLayer({
            url: '@Model.UrlTrack',
            map: map,
            suppressInfoWindows: true,
            clickable: false
        });

        @foreach (var model1 in Model.PlaceList)
        {
            <text>
                var markerlatLng = new google.maps.LatLng(@(model1.Latitude), @(model1.Longitude));
                addMarker(markerlatLng, map, @model1.Id);
        </text>

        }

        google.maps.event.addListener(map,
            'click',
            function(event) {
                if (marker != null)
                    marker.setMap(null);
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map
                });
                 $("#Latitude").val(event.latLng.lat());
                 $("#Longitude").val(event.latLng.lng());
            });

  

        function addMarker(location, map, id) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            //   setMapOnAll(null);
            marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: pinSymbol("#183"),
                id: id
            });

            google.maps.event.addListener(marker, 'click', function () {
                $('#PlaceDetails').load('@Url.Action("Details", "Place")/' +id);
            });

            markers.push(marker);
            marker = null;
        }

        $('#CreatePlacePanel').load('@Url.Action("Create", "Place")');
        $('#CreateTrackModel').load('@Url.Action("Create", "Track")');

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        $("#CreatePlacePanel").hide();
        $("#CreateTrackModel").hide();
    }
</script>

<script  type="text/javascript">
    var StatePlacePanel = false;
    var StateTrackPanel = false;
    $(document).ready(function() {
        $('#CreatePlace').click(function(e) {
            e.preventDefault();
            if (StatePlacePanel) {
                $("#CreatePlacePanel").hide();
                StatePlacePanel = false;
            } else {
                StatePlacePanel = true;
                $("#CreatePlacePanel").show();
            }
        });
    });

    $(document).ready(function() {
        $('#CreateTrack').click(function(e) {
            e.preventDefault();
            if (StateTrackPanel) {
              //  $("#CreateTrackPanel").hide();
                StateTrackPanel = false;
            } else {
                StateTrackPanel = true;
                $("#CreateTrackModel").show();
            }
        });
    });

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlr6EQIpiTn35E_RJ-TFvfo1vHKR_ajts&callback=initMap"
        type="text/javascript"></script>
<div id="CreatePlacePanel"></div>
<div id="CreateTrackModel"></div>
<div id="PlaceDetails"></div>
