@model WEB.Models.PlaceViewModels
<div id="CreatePlaсePanel">
    @*@using (Ajax.BeginForm("Create", "Place", new AjaxOptions { UpdateTargetId = "PlaceCreatePanel", HttpMethod = "Post" }, new { enctype = "multipart/form-data" }))*@
    @using (Html.BeginForm("Create", "Place", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", placeholder = "Название точки"}})

                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger "})
                </div>
            </div>

            @Html.HiddenFor(model => model.Tracks)

            @Html.HiddenFor(model => model.IdTrack)

            @Html.HiddenFor(model => model.Latitude, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.ValidationMessageFor(model => model.Latitude)


            @Html.HiddenFor(model => model.Longitude, htmlAttributes: new {@class = "control-label col-md-2"})
            @Html.ValidationMessageFor(model => model.Longitude, "", new {@class = "text-danger"})

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Description, 5, 500, new {maxlength = 4000, @class = "form-control", placeholder = "Описание точки"})

                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Pictures", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input id="fileData" name="fileData" type="file" class="fileData" data-show-upload="false" data-show-caption="true" multiple>
                </div>
            </div>*@

            <div class="ButtonUpload">
                <div class="file-upload" data-text="Выберите файл">
                    <input type="file"
                           onchange="$('#upload-file-info').html(this.files[0].name)" name="fileData" id="fileData" class="fileData">
                </div>
            </div>

            <span class='label label-info' id="upload-file-info"></span>

            <div class="ButtonCreate">
                <div class="form-group">
                    <div class="container-fluid">
                        <input type="submit" value="Создать" class="btn btn-block btn-primary" id="sumbit"/>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function pinSymbol(color) {
        return {
            path:
                'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
            fillColor: color,
            fillOpacity: 1,
            strokeColor: '#000',
            strokeWeight: 2,
            scale: 1,
        };
    }

    $('#sumbit').click(function () {
        if ($('#fileData').val()[0] == null) {
            alert("You don't select files");
            return false;
        }
        if ($('#Latitude').val() == "0" && $('#Longitude').val() == "0") {
            alert("You didn't set marker");
            return false;
        }

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function() {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function() {
                var percentVal = '100%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            complete: function (xhr) {
                var id = $("#Name").val();
                var location = marker.position;
                marker.setMap(null);
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: pinSymbol("#183"),
                    id: id
                });
                $('#Latitude').val(marker.position.lat());
                $('#Longitude').val(marker.position.lng());
                marker.addListener('click', function() {
                    $('#PlaceDetails').load('@Url.Action("Details", "Place")/' + id);
                    map.setCenter(marker.getPosition());
                });

                markers.push(marker);
                marker = null;
                calculateAndDisplayRoute(directionsService, directionsDisplay);
                status.html(xhr.responseText);
                $('#Latitude').val(0);
                $('#Longitude').val(0);
                $('#Description').val("");
                $('#Name').val("");
                $('#fileData').val(null);

            }
        });

    });
</script>

<script src="@Url.Content("~/Scripts/jquery.validate.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"
        type="text/javascript"></script>
