@model WEB.Models.PlaceViewModels
    <div class="DetailsPlace">
          
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>           
</div>